<html>
    <head>
        <title>EpiCreates Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">EpiCreates</a></h1>
            <h2>A blog of randomness</h2>
        </div>

        <div>
            <p>published: 12.07.2019, 2:29</p>
            <h2><a href="">A New Start!</a></h2>
            <p>Django Girls workshop, and we're getting there...</p>
            <p>Hey nowwwwww!!</p>
        </div>

        <div>
            <p>published: 14.07.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p><em><strong>ITS ALIVE!!!!!</strong></em></p>
        </div>
    </body>
</html>
